

@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

.navbar{
    height:50px;
    width: 100%;
    background-color: antiquewhite;
    text-align:center;
    font-size: 200%;
    font-family: 'Rubik Dirt', cursive;
    border: 2px solid;
    border-radius: 10px;
    
}

.container{
    display:flex;
    padding-top: .3%;

}

.sidebar{
    /* background-color:rgb(179, 184, 184); */
    background: linear-gradient(to right, #33cccc 0%, #ffccff 100%);

    
    /* width:434px; */
    width:8vw;
    height:90vh;
    
    

}

.images{

    /* background-color:rgb(101, 156, 115);  */
    background: linear-gradient(to left, #ffffff 0%, #99ccff 100%);
    width:90vw;
    



}



.sidebar_buttons button{
    font-family: 'Rubik Dirt', cursive;
    padding: 10%;
    border: 1px solid;
    border-radius: 10px;
    
}

.sidebar_buttons{
    padding:10%;
    
    
}

.loginform{
    padding: 5%;
    background: linear-gradient(to bottom, #999966 0%, #999966 100%);
    width:100%;
    
}
.form_entries{
    padding:1%;
    font-size:150%;
    justify-content: center;
    font-family: 'Rubik Dirt', cursive;
    background-color: rgb(163, 166, 172);

    
}

.images_container1{
    display:flex;
    justify-content:center;
}
.images_container2{
    display:flex;
    justify-content:center;
}

.images_container3{

    display:flex;
    justify-content:center;
    
}

.img{
    padding:10px;
}

.aboutme{
    font-size: 150%;
    padding:2%;
    font-family: 'Rubik Dirt', cursive;
    display: flex;
}

.sarang_image{
    width:70%;
    
}

.sarang_image img{
    width:90%;
    height:95%;
    border-radius: 20px;
}

.skills{
    font-size: 150%;
    padding: 1%;
    font-family: 'Rubik Dirt', cursive;
}

.skill_list{
    padding:.5%;
}
.my_skills{
    background-color: antiquewhite;
    width:90%;
    /* padding:.5%; */
    border: 1px solid;
    border-radius:10px;
    padding-top: 1%;

}

.np{
    display:flex;
    justify-content:center;
    

}

.np button{
    font-family: 'Rubik Dirt', cursive;
    
    border: 1px solid;
    border-radius: 2px;
    padding: 1%;
   
}

.np button:hover{
    background-color:darkgray;
}

.click_info{
    text-align: center;
    padding:1%;
    font-family: 'Rubik Dirt', cursive;

    background: linear-gradient(to left, #666699 0%, #800000 100%);

    margin-bottom: 0%;
}

.form_entries button{
    font-family: 'Rubik Dirt', cursive;

}

.csl{
    display:flex;
}

.bar{
    margin-top: 1%;
    height:20px;
    background-color:#35352f;
    border-radius: 10px;
    padding-top: 1%;

}

.html_bar{
    width:70%;
}
.css_bar{
    width:50%;

}

.js_bar{
    width:40%;
}

.cpp_bar{
    width:70%;
}

.dsa_bar{
    width:90%;
}





