@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

.navbar{
    height:50px;
    width: 100%;
    background-color: antiquewhite;
    text-align:center;
    font-size: 200%;
    font-family: 'Rubik Dirt', cursive;
    border: 2px solid;
    border-radius: 10px;
    
}